<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Career Path and experience</h2>
                    <h3 class="section-subheading text-muted">This is my career path as a penetration tester and cybersecurity specialist. Here you can find my some goals that i archived:</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <!-- TIMELINE eJPT -->
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/ejpt.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2022</h4>
                                    <h4 class="subheading">eJPT - INE Security Cert</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I successfully completed my first offensive security certification in a network and web environment. <a href="https://certs.ine.com/d0a93780-a4ca-45f3-bc93-8690e03afe80">View Certificate.</a> </p>
                                </div>
                            </div>
                        </li>
                        <!-- TIMELINE CASINO -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/banco.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Dicember 2022</h4>
                                    <h4 class="subheading">Inside Security (Consulting firm) - Pentester</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">My first job was on 
                                        <a href="https://www.linkedin.com/company/insidesecuritycl/">Inside Security</a>
                                        a consulting firm that provides cybersecurity solutions to banking clients.</p>
                                </div>
                            </div>
                        </li>
                        <!-- TIMELINE ZIPPY -->
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/casino.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2023</h4>
                                    <h4 class="subheading">Zippy Pay (Online gambling casino) - Cyber security engineer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I successfully conducted internal audits on the company’s sports betting (gambling) infrastructure, finding high severity vulnerabilities. <a href="https://www.linkedin.com/company/zippy-spa/">Zippy Pay</a></p>
                                </div>
                            </div>
                        </li>
                        <!-- TIMELINE ISO27001 -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/iso27001.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2024</h4>
                                    <h4 class="subheading">ISO/IEC 27001:2022 Lead Auditor Certified</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The ISO/IEC 27001 Lead Auditor certification consists of a professional certification for auditors specializing in information security management systems (ISMS) based on the ISO/IEC 27001 standard and ISO 19011.<a href="https://www.credly.com/badges/50e06df6-304f-47f2-9818-65ec12b5112d/public_url"> View Certificate.</a> </p>
                                </div>
                            </div>
                        </li>
                        <!--
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                
                                    <h4>Febero 2024</h4>
                                    <h4 class="subheading">API Security University Certificated</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Complete con exito la certificacion de pentesting en entornos de APIs. <a href="https://google.com">Ver certificado.</a> </p>
                                </div>
                            </div>
                            
                        </li>
                        -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>The Journey
                                    <br>Still
                                    <br>Continues</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
