<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Trayectoria y experiencia</h2>
                    <h3 class="section-subheading text-muted">Esta es mi trayectoria como profesional de la ciberseguridad:</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <!-- AQUI COMIENZA EL PRIMER TIMELINE -->
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/ejpt.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Octubre 2022</h4>
                                    <h4 class="subheading">Certificacion eJPT</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Complete con exito mi primera certificacion de seguridad ofensiva en un entorno de redes y web. <a href="https://google.com">Ver certificado.</a> </p>
                                </div>
                            </div>
                        </li>
                        <!-- AQUI COMIENZA EL PRIMER TIMELINE -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/banco.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Diciembre 2022</h4>
                                    <h4 class="subheading">Inside Security (Banca) - Pentester</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Mi primer trabajo como pentester fue en 
                                        <a href="https://google.com">Inside Security</a>
                                         en donde trabaje como intermediario para cliente bancario.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/casino.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Junio 2023</h4>
                                    <h4 class="subheading">Zippy Pay (Casino Online) - Ingeniero de ciberseguridad</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Realice exitosamente auditorias internas en la infraestructura de la casa de apuestas deportivas (gambling) de la empresa <a href="https://google.com">Zippy Pay</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Febero 2024</h4>
                                    <h4 class="subheading">API Security University Certificated</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Complete con exito la certificacion de pentesting en entornos de APIs. <a href="https://google.com">Ver certificado.</a> </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>El Viaje
                                    <br>Todavia
                                    <br>Continua</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>